name = "twfido-aad-dashboard"
compatibility_date = "2023-01-01"
workers_dev = false

[vars]
AAD_CLEINT_ID = "<AAD_CLEINT_ID>"
AAD_CLEINT_SECRET = "<AAD_CLEINT_SECRET>"
AAD_TENANT_ID = "<AAD_TENANT_ID>"